.alert_bubble {
    margin: 0px 10px;
    color: white !important;
}

.critical :global .MuiBadge-badge {
    background-color: var(--red-critical) !important;
    animation: blink 0.5s step-start infinite;
}

.error :global .MuiBadge-badge {
    background-color: var(--red-error) !important;
}

.warning :global .MuiBadge-badge {
    background-color: var(--yellow-warning) !important;
}

.info :global .MuiBadge-badge {
    background-color: var(--blue-info) !important;
}

.debug :global .MuiBadge-badge {
    background-color: var(--grey-debug) !important;
}

.success :global .MuiBadge-badge {
    background-color: var(--green-success) !important;
}

.default :global .MuiBadge-badge {
    background-color: var(--dark-bg-secondary) !important;
}

@keyframes blink {
    from {
        opacity: 1
    }

    50% {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}