.head {
    /* background-color: #0097a7; */
    /* background-color: var(--teal-400); */
    /* color: white !important; */
    white-space: nowrap;
}

.cell {
    /* color: white !important; */
    padding: 2px 4px !important;
}

.cell:hover {
    color: white !important;
}

.critical {
    color: var(--red-critical) !important;
    animation: blink 0.5s step-start infinite;
}

.error {
    color: var(--red-error) !important;
}

.warning {
    color: var(--yellow-warning) !important;
}

.info {
    color: var(--blue-info) !important;
}

.debug {
    color: var(--grey-debug) !important;
}

.success {
    color: var(--green-success) !important;
}

.default {
    color: var(--light-text-primary) !important;
}

@keyframes blink {
    from {
        opacity: 1
    }

    50% {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}

.icon {
    color: white !important;
    margin-left: -4px !important;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 3;
}
