.alert {
    align-items: center;
    width: max-content;
    max-width: 90%;
    max-height: 400px;
    word-wrap: break-word;
    overflow: auto;
}

.snackbar {
    /* position fixed to top of the parent component */
    position: fixed !important;
    top: 15% !important;
    right: 0 !important;
}

.abbreviated_json {
    max-width: 150px;
    display: inline-flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: underline;
    color: yellow;
    cursor: pointer;
}