.icon {
    margin-right: 2px !important;
    margin-left: 2px !important;
}

.icon_selected {
    color: var(--dynamic-cell-selected) !important;
}

.toggle_icon {
    padding: 2px !important;
    border-radius: 5px;
    margin: 2px 0;
    background: none !important;
    border: none !important;
}

.avatar {
    border-radius: 5px !important;
    color: inherit !important;
    height: 35px !important;
    width: 35px !important;
}

.selected_icon {
    background: none !important;
    border: none !important;
}

.selected_avatar {
    background-color: var(--dynamic-cell-selected) !important;
}
