.container {
    display: flex;
    height: 100%;
    /* overflow: auto; */
}


.pivot_container {
    flex: 1;
    height: 100%;
    overflow: auto;
}

.selected {
    background-color: #d0eaff;
    outline: 2px solid #3399ff;
}

.pivot_table {
    overflow: auto;
}


.no_data_message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    color: var(--grey-debug);
}

.hideColumnSelector :global(.pvtUnused .pvtAttr) {
    display: none !important;
}

.columnToggleBtn {
    min-width: fit-content !important;
    padding: 2px 5px !important;
    font-size: 11px !important;
    background-color: #9ec3f4 !important;
    border: 1px solid #c8d4e3 !important;
    border-radius: 3px !important;
    text-transform: none !important;
    color: inherit !important;
    height: fit-content;
}
.columnToggleBtn:active {
  background-color: rgb(243, 243, 149) !important;
  color: black !important;
}