.dropdown_container {
    display: flex;
    margin: 5px;
    margin-top: 10px;
}

.autocomplete_dropdown {
    flex: 1;
}

.button {
    margin: none;
    margin-left: 5px;
}

.list_item {
    padding: 0px 10px 10px;
}

.alert {
    margin: 0px 10px;
}

.list_item_selected {
    background-color: rgba(25, 118, 210, 0.2) !important;
}

.container {
    flex: 1;
    overflow: auto;
    min-height: 0;
}

.no_scroll {
    overflow: hidden;
}

.table {
    min-width: 200px;
}

.cell {
    padding: 4px 8px !important;
}

.dropdown {
    width: 0px;
    display: inherit;
}

.dropdown :global .MuiSelect-outlined {
    padding: 0px;
}

.row {
    cursor: pointer;
}

.row_disabled {
    cursor: not-allowed;
}

.dataTableWrapper {
    /* Take remaining space */
    flex: 1;
    /* Important for flex child */
    min-height: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.isDragging {
    /* user-select: none; */
    cursor: grabbing;
}