.container {
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* max-height: 75%; */
    max-height: 200px;
    overflow: auto;
    flex-shrink: 0;
}

.item {
    margin-right: 10px;
}

.key {
    padding-right: 5px;
}

.critical {
    color: var(--red-critical) !important;
    animation: blink 0.5s step-start infinite;
}

.error {
    color: var(--red-error) !important;
}

.warning {
    color: var(--yellow-warning) !important;
}

.info {
    color: var(--blue-info) !important;
}

.debug {
    color: var(--grey-debug) !important;
}

.success {
    color: var(--green-success) !important;
}

.default {
    /* color: white; */
}

.abbreviated_json {
    max-width: 150px;
    display: inline-flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: underline;
    color: var(--blue-info);
    font-weight: bold;
    cursor: pointer;
}

@keyframes blink {
    from {
        opacity: 1
    }

    50% {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}

.break_line {
    flex-basis: 100%;
    height: 0;
}