.container {
    display: flex;
    height: 100%;
    overflow: auto;
}

.list_container {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    overflow: auto;
}

.pivot_container {
    flex: 1;
    height: 100%;
}

.selected {
    background-color: #d0eaff;
    outline: 2px solid #3399ff;
}

.pivot_table {
    height: 80%;
    overflow: auto;
}