.alert {
    align-items: center;
    width: max-content;
    max-width: 90%;
    max-height: 400px;
    word-wrap: break-word;
    overflow: auto;
}

.snackbar {
    position: relative !important;
    left: 10px !important;
}