.cell {
    padding: 6px 2px !important;
    padding-right: 24px !important;
}

.previous {
    /* color: red; */
    color: var(--red-600);
    text-decoration: line-through;
    margin-right: 10px;
}

.modified {
    /* color: green; */
    color: var(--green-400);
}

.critical {
    color: white !important;
    /* color: #9C0006 !important; */
    background-color: var(--red-800);
    animation: blink 0.5s step-start infinite;
}

.error {
    /* color: #9C0006 !important; */
    color: white !important;
    background-color: var(--red-600);
}

.warning {
    color: white !important;
    background-color: var(--yellow-800);
    /* color: #9c6500 !important; */
    /* background-color: #ffeb9c; */
}

.info {
    color: white !important;
    background-color: var(--blue-400);
    /* color: blue !important;
    background-color: #c2d1ff; */
}

.debug {
    color: white !important;
    background-color: var(--grey-600);
    /* color: black !important;
    background-color: #ccc; */
}

.success {
    color: white !important;
    background-color: var(--green-400);
    /* color: darkgreen !important;
    background-color: aquamarine; */
}

.disabled {
    /* background-color: #ccc; */
    color: var(--grey-200) !important;
    background-color: var(--grey-700);
    cursor: not-allowed;
}

.add {
    /* background-color: #ffc7ce !important; */
    color: var(--green-400) !important;
    /* background-color: var(--green-400) !important; */
}

.remove {
    /* background-color: #ffc7ce !important; */
    color: red !important;
    /* background-color: var(--red-600) !important; */
    text-decoration: line-through;
}

.select {
    /* background-color: white; */
    width: 100%;
}

/* .select :global .MuiSelect-outlined {
    padding: 6px 10px;
} */

.text_field {
    /* background-color: white; */
    min-width: 70px !important;
    border-radius: 0px !important;
    width: 100%;
}

.checkbox {
    padding: 6px !important;
}

.cell_no_padding {
    padding: 0px !important;
}

.default {
    /* color: black; */
}

.abbreviated_json_cell {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: underline;
    color: var(--blue-400) !important;
    font-weight: bold !important;
}

@keyframes blink {
    from {
        opacity: 1
    }

    50% {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}

.new_update {
    color: maroon !important;
    animation: blink 0.5s step-start infinite;
}

.cell_input_field {
    padding: 2px 4px !important;
}

/* .text_field :global .MuiOutlinedInput-root {
    border-radius: 0px !important;
} */

/* .text_field :global fieldset {
    border: none;
}

.text_field :hover {
    cursor: pointer !important;
}

.text_field :focus-visible {
    cursor: text !important;
}

.text_field :focus-within :global fieldset {
    border: 1px solid;
} */

:global .MuiSvgIcon-root {
    vertical-align: bottom;
}

:global .MuiAutocomplete-root .MuiInputBase-sizeSmall {
    padding: 5px !important;
    /* margin: 2px !important; */
}

.column_size_small {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column_size_medium {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column_size_large {
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column_direction_ltr {
    direction: ltr;
}

.column_direction_rtl {
    direction: rtl;
}

.cell_selected {
    background-color: var(--indigo-300) !important;
}