.container {
  display: flex;
}

.header {
  /* background-color: var(--teal-400); */
  /* background-color: #0097a7; */
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 250px;
  display: flex;
  align-items: center;
  margin: 2px 2px;
  box-shadow: 0px 0px 1px 0px #999;
}

.icon {
  margin-right: 10px;
  display: inline-flex;
}

.menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  border-radius: 5px;
  /* background-color: #ccc; */
  /* box-shadow: 0px 0px 1px 0px black; */
  margin: 1px 0px;
  margin-left: 2px;
}

.option {
  display: inline-flex;
  align-items: center;
  margin: 1px 0px;
  margin-left: 2px;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 2px 2px 2px 3px;
}


.paginationControls {
  /* Common styles for all pagination */
  display: flex;
  align-items: center;
  padding: 2px 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(238, 87, 87, 0.02);
}

.containerPagination {
  justify-content: center;
  background-color: rgba(225, 208, 49, 0.541);
  border-radius: 15px;
  /* Center controls for carousel feel */
}

.containerPagination button {
  /* Maybe different button styling for containers */
  background-color: lightblue;
}

.childPagination {
  justify-content: flex-end;
  /* Default for child items */
}

.childPagination typography {
  /* Maybe different typography for child items */
}

