.layout {
    display: flex;
}

.grid {
    flex: 1;
    overflow: auto;
}

.widget {
    /* background-color: whitesmoke !important; */
}

.icon {
    /* background-color: #ccc !important; */
    margin-right: 5px !important;
}

.icon:hover {
    /* background-color: #ddd !important; */
}

.dialog_text {
    margin: 10px 0px !important;
}