.autocomplete {
    flex: 1;
    /* background-color: white; */
}

.autocomplete :global .Mui-disabled {
    cursor: not-allowed !important;
    /* background-color: rgba(0,0,0,0.1); */
    /* -webkit-text-fill-color: #444 !important; */
    font-weight: bold;
}

.checkbox {
    flex: 1;
    padding: 5px !important;
}

.select {
    flex: 1;
    /* background-color: white; */
}

.select :global .MuiSelect-outlined {
    padding: 6px 10px;
}

.select :global .Mui-disabled {
    cursor: not-allowed !important;
    /* background-color: rgba(0,0,0,0.1);
    -webkit-text-fill-color: #444 !important; */
    font-weight: bold;
}

.select :global .MuiInputAdornment-root {
    margin-right: 10px;
}

.text_field {
    flex: 1;
    /* background-color: white; */
    min-width: 100px !important;
}

.text_field :global .Mui-disabled {
    cursor: not-allowed;
    /* background-color: rgba(0,0,0,0.1);
    -webkit-text-fill-color: #444 !important; */
    font-weight: bold;
}

.remove {
    text-decoration: line-through;
}

.critical {
    background-color: var(--red-800) !important;
    /* background-color: #ffc7ce; */
    animation: blink 0.5s step-start infinite;
}

.error {
    background-color: var(--red-600) !important;
    /* background-color: #ffc7ce; */
}

.warning {
    background-color: var(--yellow-800) !important;
    /* background-color: #ffeb9c; */
}

.info {
    background-color: var(--blue-400) !important;
    /* background-color: #c2d1ff; */
}

.debug {
    background-color: var(--grey-600) !important;
    /* background-color: #ccc; */
}

.success {
    background-color: var(--green-400) !important;
    /* background-color: aquamarine; */
}

@keyframes blink {
    from {
        opacity: 1
    }

    50% {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}