.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog_title {
    /* background-color: #0097a7; */
    /* color: white; */
    padding: 8px !important;
}

.dialog_body {
    padding: 12px !important;
}

.dialog_text {
    font-weight: bold;
    margin-bottom: 8px;
}

.field {
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 5px;
}

.field_name {
    padding: 5px 10px;
    /* background-color: beige; */
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #999;
}