.icon {
    /* background-color: #ccc !important; */
    margin-right: 5px !important;
}

.icon:hover {
    /* background-color: #ddd !important; */
}

.dropdown {
    width: 0px;
    display: inherit;
}

.dropdown :global .MuiSelect-outlined {
    padding: 0px;
}

.dropdown :global .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding-right: 0px !important;
}