.button {
    margin: 0px 10px !important;
    padding: 5px 10px !important;
    color: white !important;
}

.critical {
    /* background-color: #9C0006 !important; */
    background-color: var(--red-800) !important;
    animation: blink 0.5s step-start infinite;
}

.error {
    background-color: var(--red-600) !important;
    /* background-color: #9C0006 !important; */
}

.warning {
    /* background-color: #99943c !important; */
    background-color: var(--yellow-800) !important;
}

.info {
    /* background-color: blue !important; */
    background-color: var(--blue-700) !important;
}

.debug {
    /* background-color: #444 !important; */
    background-color: var(--grey-600) !important;
}

.success {
    /* background-color: green !important; */
    background-color: var(--green-700) !important;
}

.default {
    /* background-color: #999 !important; */
    background-color: var(--grey-800) !important;
}

@keyframes blink {
    from {
        opacity: 1
    }

    50% {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}