.widget_header {
    /* background-color: #0097a7; */
    /* color: white; */
    /* background-color: #121212; */
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}

.widget_body {
    padding: 10px;
    height: calc(100% - 40px);
    overflow: auto;
    overscroll-behavior: contain;
    /* scroll-snap-type: y mandatory;
    scroll-behavior: smooth; */
}

.no_scroll {
    overflow: hidden;
}

.edit {
    /* background-color: beige; */
}

.icon {
    /* background-color: #ccc !important; */
    margin-right: 5px !important;
}

.icon:hover {
    /* background-color: #ddd !important; */
}

.menu_container {
    display: inline-flex;
    align-items: center;
}

.toggle_button_group {
    /* background-color: #ccc; */
    margin: 0 2px;
}

.toggle_button_group :global .Mui-selected {
    /* background-color: #aaa !important; */
}

.toggle_button {
    padding: 2px !important;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(-2px);
    }
}

.bounce {
    animation: bounce 0.5s ease;
}