.button {
    margin: 0px 10px !important;
    padding: 5px 10px !important;
    color: white !important;
}

.disabled {
    cursor: not-allowed !important;
    pointer-events: all;
}

.critical {
    background-color: var(--red-critical) !important;
    animation: blink 0.5s step-start infinite;
}

.error {
    background-color: var(--red-error) !important;
}

.warning {
    background-color: var(--yellow-warning) !important;
}

.info {
    background-color: var(--blue-info) !important;
}

.debug {
    background-color: var(--grey-debug) !important;
}

.success {
    background-color: var(--green-success) !important;
}

.default {
    background-color: var(--dark-bg-secondary) !important;
}

@keyframes blink {
    from {
        opacity: 1
    }

    50% {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}