.container {
    display: flex;
    height: 100%;
    /* overflow: auto; */
}

.list_container {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    overflow: auto;
}

.chart_container {
    flex: 1;
    height: 100%;
    overflow: auto;
}

.chart {
    height: 85%;
    overflow: auto;
}

.pinned_filters_container {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 48px;
    align-items: center;
}

.no_data_message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    color: var(--grey-debug);
}